.container {
    display: flex;
    flex-direction: column;
  }
  
  .linearGradient {
    background: linear-gradient(to right, #E2D0F8, #A0BFE0);
    border-bottom: 1px solid white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .homeButton {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .headerTitle {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .nav {
    border-bottom: 1px solid white;
    overflow: hidden;
  }
  
  .navContent {
    display: flex;
    padding: 10px 20px;
  }
  
  .navButton {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navButtonText {
    color: rgba(74, 85, 162, 1);
    font-weight: bold;
  }
  
  .main {
    flex: 1;
    padding: 20px;
    background-color: white;
  }
  
  .activityList {
    display: flex;
    flex-direction: column;
  }
  
  .activityItem {
    background-color: rgba(226, 208, 248, 0.3);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  
  .activityDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .activityCategory {
    font-weight: bold;
    color: rgba(74, 85, 162, 1);
  }
  
  .activityItemTitle {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .activitySubTitle {
    font-size: 14px;
    color: rgba(74, 85, 162, 1);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .activityDescription {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .heartButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .attendButton {
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .recommended {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .recommendedTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recommendedItem {
    background-color: rgba(226, 208, 248, 0.3);
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .recommendedItemTitle {
    font-size: 14px
  }  