.linear-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #E2D0F8, #A0BFE0);
}
.container {
  padding: 50px;
  text-align: center;
  margin-top: 80px;
  align-items: center;
}
.title {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
}
.input {
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  color: rgba(131, 131, 131, 1);
}
.button {
  width: 150px;
  height: 40px;
  background-color: rgba(166, 208, 253, 1);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successMessage {
  color: green;
  font-size: 16px;
  margin-top: 10px;
}
.errorMessage {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
.signupText {
  display: inline-block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.signupLink {
  font-weight: bold;
  text-decoration: underline;
}